@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'starwars-outline';
  src: url('../../public/fonts/SfDistantGalaxyOutlineItalic-4yA4.ttf') format('truetype');
}

@font-face {
  font-family: 'starwars-alternate';
  src: url('../../public/fonts/SfDistantGalaxyAlternate-OE4d.ttf') format('truetype');
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 30, 33, 45;
  --background-end-rgb: 0, 0, 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply text-[rgb(var(--foreground-rgb))] min-h-[100vh];
    background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, 1) 70%),
    url('/images/galaxy-pattern3.jpeg') center center fixed;
  }
  
  body::-webkit-scrollbar {
    width: 7px;
    background: #cccc;
  }
  
  body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .5);
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: #ccc;
    border-left: 2px;
  }

  main {
    @apply container mx-auto px-4;
  }
}

@layer components {
  .starwars-logo {
    filter: brightness(1.9) drop-shadow(3px 2px 0px yellow);
  }

  .navbar-list-container {
    @apply sm:flex sm:gap-8 gap-10 flex sm:flex-row flex-col sm:justify-end justify-center items-center sm:[position:unset] fixed sm:right-0 top-1/2 left-1/2 z-50 sm:translate-x-0 sm:translate-y-0 -translate-x-1/2 -translate-y-1/2 sm:backdrop-blur-none sm:bg-none backdrop-blur-md [-webkit-backdrop-filter:blur(12px)] bg-[#061727b1] sm:w-auto w-screen sm:h-auto h-[100dvh];
  }

  .common-button {
    @apply bg-yellow-sw hover:bg-[#bc9803] transition-colors duration-200 text-black px-4 py-2 rounded-md font-semibold;
  }

  @media (max-width: 1024px) {
    .starwars-logo {
      filter: brightness(1.9) drop-shadow(-1px 0px 0px yellow);
    }
  }
}